/* .triple{

    background-image: url("https://img.freepik.com/free-vector/red-movie-theater-seats-with-curtains-background_1017-38388.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .tip{
    font-family: cursive;
    font-weight: bold;
    margin-left: 20%;
    text-decoration: underline;
} */

/* .trio{
    background-color: brown;
} */

/* .butone:hover{

    background-color: #3e8e41;
    color: white;
    transform: scale(1.2);

} */

/* .twotwo:hover{
    background-color:red;
    color: white;
    transform: scale(1.2);

} */
/* .alert{
    z-index: 2 !important;
    position: absolute !important;
    width: 100vw;
    visibility:hidden;
    
} */

/* .add:hover{
    background-color: #0b1aec;
    color: white;
    transform: scale(1.3);

} */

/* .cello{
    margin-bottom: 0%;
} */